/*
  CSS RESET
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

@font-face {
  font-family: Geist;
  src: url(geist.woff2) format("woff2");
  font-display: fallback;
}
@font-face {
  font-family: Instrument;
  src: url(instrument-serif.ttf) format("truetype");
  font-display: fallback;
}

html {
  font-size: 15px;
  height: 100%;
}

body {
  height: 100%;
  font-family: "Geist", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  line-height: 24px;
  margin: 48px;
  position: relative;
}

h1 {
  font-family: "Instrument", serif;
  font-size: 67px;
  line-height: 72px;
}

.grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  background-image: repeating-linear-gradient(
      rgba(0, 0, 0, 0.1) 0 1px,
      transparent 1px 100%
    ),
    repeating-linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.1) 0 1px,
      transparent 1px 100%
    );
  background-size: calc(100vw / 3) 24px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 24px;
}
