/* CSS RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  padding: 0;
}

#root,
#__next {
  isolation: isolate;
}

/* Document setup */
@font-face {
  font-family: Geist;
  src: url(geist.woff2) format("woff2");
  font-display: fallback;
}

@font-face {
  font-family: Instrument;
  src: url(instrument-serif.ttf) format("truetype");
  font-display: fallback;
}

[data-theme="light"] {
  --highlight: 255, 255, 255;
  --red: 255, 99, 99;
  --yellow: 235, 154, 80;
  --ink: 50, 57, 60;
  --backdrop: 38, 38, 38;
  --paper: 243, 242, 238;
  --hover-highlight: rgba(var(--highlight), 0.85);
  --hover-shadow: rgba(var(--backdrop), 0.15);
}

[data-theme="dark"] {
  --highlight: 140, 145, 150;
  --red: 255, 99, 99;
  --yellow: 235, 154, 80;
  --ink: 255, 254, 250;
  --backdrop: 12, 12, 12;
  --paper: 38, 38, 38;
  --hover-highlight: rgba(var(--highlight), 0.25);
  --hover-shadow: rgba(var(--backdrop), 0.55);
}

html {
  font-size: 15px;
  height: 100%;
  color: rgb(var(--ink));
  background-color: rgb(var(--backdrop));
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 48px 24px;
}

body {
  font-family: "Geist", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-feature-settings: "fwid" on;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
  position: relative;
  margin-bottom: 48px;
  max-width: 1200px;
  width: calc(100vw - 32px);
}

h1 {
  font-family: "Instrument", serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  line-height: 80px;
  letter-spacing: 0.67px;
  margin-top: -16px;
}

h2 {
  font-family: "Geist", "Helvetica Neue", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.14px;
  margin-top: 4px;
}

.grid > div > p {
  margin-top: 4px;
}

a {
  text-decoration: none;
  color: currentColor;
}

.display-text {
  font-family: "Instrument", serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.51px;
}

.display-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.display-container button:first-child {
  margin-top: -1px;
}
.display-container button:not(:first-child) {
  margin-top: -2px;
}

.display-link {
  font-family: "Instrument", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.51px;
  position: relative;
}

.display-link:focus-visible {
  outline: unset;
}

.display-link::after {
  content: "";
  background-color: currentColor;
  -webkit-mask: url(link-arrow.svg);
  display: inline-block;
  height: 12px;
  width: 12px;
  margin-left: 6px;
}

.display-link:hover::before,
.display-link:focus-visible::before,
.display-button:hover,
.display-button:focus-visible,
.content-link:hover::before {
  -moz-box-shadow:
    inset -1px -1px 1px 0 var(--hover-highlight),
    inset 1px 1px 4px 0 var(--hover-shadow);
  -webkit-box-shadow:
    inset -1px -1px 1px 0 var(--hover-highlight),
    inset 1px 1px 4px 0 var(--hover-shadow);
  box-shadow:
    inset -1px -1px 1px 0 var(--hover-highlight),
    inset 1px 1px 4px 0 var(--hover-shadow);
}

.display-link:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  right: -12px;
  bottom: -2px;
  border-radius: 32px;
  z-index: 0;
}

.display-link:focus-visible::before {
  content: "";
  position: absolute;
  top: 0;
  left: -12px;
  right: -12px;
  bottom: -2px;
  border-radius: 32px;
  outline: 1px solid rgb(var(--ink));
  z-index: 0;
}

.display-button {
  font-family: "Instrument", serif;
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.51px;
  display: flex;
  align-items: center;
  gap: 6px;
  position: relative;
  color: currentColor;
  background-color: unset;
  border: unset;
  padding: 1px 12px 1px 12px;
  margin-left: -12px;
  border-radius: 32px;
  cursor: pointer;
}

.display-button:hover {
}

.display-button:focus-visible {
  outline: 1px solid rgb(var(--ink));
}

.theme-icon {
  background-color: currentColor;
  height: 12px;
  width: 12px;
  -webkit-mask: url(theme-circle.svg) no-repeat center;
  mask: url(theme-circle.svg) no-repeat center;
}

.grid-icon {
  background-color: currentColor;
  height: 12px;
  width: 12px;
  -webkit-mask: url(grid.svg) no-repeat center;
  mask: url(grid.svg) no-repeat center;
}

.contact-icon {
  background-color: currentColor;
  height: 12px;
  width: 12px;
  -webkit-mask: url(email.svg) no-repeat center;
  mask: url(email.svg) no-repeat center;
}

.grid-active {
  color: rgb(var(--red));
}

/* Classes */
.grid-display {
  position: absolute;
  z-index: 2;
  pointer-events: none;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-image: repeating-linear-gradient(
      rgba(var(--ink), 0.1) 0 1px,
      transparent 1px 100%
    ),
    repeating-linear-gradient(
      to right,
      transparent 0,
      transparent calc(33.33% - 1px),
      transparent calc(33.33% - 1px),
      rgb(var(--red)) calc(33.33% - 1px),
      rgb(var(--red)) calc(33.33% - 0px),
      transparent calc(33.33% - 23px),
      transparent calc(33.33% + 23px),
      rgb(var(--red)) calc(33.33% + 23px),
      rgb(var(--red)) calc(33.33% + 24px),
      transparent calc(33.33% + 24px),
      transparent calc(66.66% - 25px),
      rgb(var(--red)) calc(66.66% - 25px),
      rgb(var(--red)) calc(66.66% - 24px),
      transparent calc(66.66% - 24px),
      transparent calc(66.66% + 0px),
      rgb(var(--red)) calc(66.66% + 0px),
      rgb(var(--red)) calc(66.66% + 1px),
      transparent calc(66.66% + 0px),
      transparent 100%
    );
  background-size: 100% 16px;
}

.grid {
  display: grid;
  grid-template:
    "a b c" 228px
    "d e e" 228px
    "f g g" 228px
    "h i i" 228px
    "h i i" 228px
    "j k k" 228px
    "l m m" 228px
    "n o p" 96px / 1fr 1fr 1fr;
  column-gap: 24px;
  row-gap: 12px;
  background-color: rgb(var(--paper));
  padding: 48px;
  border-radius: 4px;
}

.grid > div {
  padding-top: 10px;
}

.grid > div:has(ul) {
  padding-top: unset !important;
}

.grid div:not(:nth-child(-n + 3)) {
  border-top: 1px solid rgb(var(--ink));
}

.content li:not(:first-child) {
  border-top: 1px solid rgb(var(--ink));
}

.content li {
  list-style-type: none;
}

.content-link {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 4px 11px 0;
  position: relative;
}

.content-link:hover::before {
  content: "";
  position: absolute;
  top: 4px;
  left: -12px;
  right: -12px;
  bottom: 4px;
  border-radius: 24px;
  z-index: 0;
}

.content-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-details {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  min-width: 0;
  column-gap: 12px;
}

.content-title-source {
  display: flex;
  align-items: center;
  gap: 8px;
  min-width: 0;
}

.content-arrow {
  background-color: currentColor;
  height: 12px;
  width: 12px;
  -webkit-mask: url(content-link-arrow.svg) no-repeat center;
  mask: url(content-link-arrow.svg) no-repeat center;
}

.content-meta {
  flex-shrink: 0;
}

/* Media queries */
@media only screen and (max-width: 800px) {
  html {
    padding: 16px 16px;
  }
  .grid {
    display: block;
  }
}

/* Utilities */
.flex {
  display: flex;
}

.hflex {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.vflex {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cflex {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}
